@import '~antd/dist/antd.css';
article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
th,
ul {
  margin: 0;
  padding: 0;
  user-select: none;
}

@width: 100%;

html,
body,
#root {
  height: 100%;
  width: @width;
}

.container {
  height: 100%;
  width: 100%;
}

.grade {
  height: 44px;
  width: 100%;
  .z-index();
}
